@model LanchesMac.ViewModel.LancheListViewModel

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<div class="row">
    @foreach (var lanche in Model.Lanches)
    {
        <partial name="_LanchesResumo" for="@lanche" />
    }
</div>
